// @font-face{
//     font-family: 'SundaPrada';
//     src: url(../fonts/Sunda_Prada.ttf);
//     font-style: normal;
// }

@font-face{
    font-family: 'HelveticaNeue';
    src: url(assets/fonts/HelveticaNeue.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face{
    font-family: 'roboto';
    src: url(assets/fonts/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}