@import 'config';
@import 'var';


.main-color{
  color: $main-color;
}
.gray{
 color:#A8A8A3;
}


.lightgray{
  color :#e6e6e6
};
.blue{
  color:#0A90FF
};


.avatar-bg {
  width: 100px !important;
  height: 100px !important;

  border-radius: 50px;
}

.avatar-md {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.avatar-sm {
  width: 40px !important;
  height: 40px !important;
  border-radius: 20px;
}
.avatar-xs {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.progess-bar-0,
.progess-bar-1
{
  position: relative;
  height: 1px;
  background-color: $blue;
  top: -20px;
  transition: width 0.2s ease-in-out;
}
.progess-bar-0{
  width: 0;
}
.progess-bar-1 {
  width: 100%;
}

.tag-display{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  
  .tag-style{
    line-height: 25px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 13px;
    color: $main-color;
    margin-right: .5em;
    margin-bottom: .5em;
    cursor: pointer;
  }
  .tag-hash-style {
    line-height: 25px;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    &::before{
      content: '#'
    }
  }
}

.button-style {
  width: 120px;
  color: $main-color;
  font-size: 15px;
  text-align: center;
  padding: 8px 0;
  background-color: $blue;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px #fff;
  outline: 0 none !important;
  font-weight: bold;
  border: none;
  cursor: pointer;

  &:disabled {
    background-color: lighten($color: $blue, $amount: 18)
  }
}

.error-label, .success-label{
  font-size: 13px;
}
.error-label{
  color: red;
}
.success-label{
  color: green;
}
