@import "../assets/scss/var";
@import "../assets/scss/config";
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.blog-info-wrap {
  width: 70%;
  padding: 2em 5em;
  // background-color: yellowgreen;
  text-align: start;
  margin-top: 3em;
  margin-bottom: 20px;
  border: 1px $gray solid;
  box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.3);

  .blog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px $gray solid;
  }
  #blog-operate-icons {
    width: 60px;
    display: flex;
    justify-content: space-around;
    #blog-edit-icon,
    #blog-delete-icon {
      cursor: pointer;
    }
    #blog-edit-icon {
      &:hover {
        color: green;
      }
    }
    #blog-delete-icon {
      &:hover {
        color: red;
      }
    }
  }
  #title,
  #body {
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow: auto;
  }
  #body {
    width: calc(100% - 2em);
    padding: 1em;
  }

  .artical-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    .left {
    }

    .right {
      #post-time {
        color: $gray;
        font-size: 12px;
        margin-bottom: 6px;
      }
      .author-detail {
        display: flex;
        flex-direction: row;
        justify-content: start;

        #author-name {
          color: $gray;
          font-size: 14px;
          margin-left: 3px;
          text-decoration: none;
        }

        #author-follows {
          color: $gray;
          font-size: 13px;
          margin-left: 6px;
        }
      }
    }
  }
}
@include mediaXS {
  .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .blog-info-wrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100% !important;
    margin: 0;
    padding: 1em;
    border: none;
  }
}
@include mediaSm {
  .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .blog-info-wrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100% !important;
    margin: 0;
    padding: 1em;
    border: none;
  }
}