@import "../assets/scss/var";
@import "../assets/scss/config";
.info-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.panel {
  margin-top: 1.5em;
  width: 300px;
  padding: 1.5em;
  border: 1px solid $lightgray;
}
.link-label {
  font-size: 13px;
  text-align: center;
  a {
    text-decoration: none;
    color: $blue;
  }
}
.small-label {
  font-size: 12px !important;
  label {
    line-height: 22px !important;
  }
  input {
    padding: 18px 8px 5px 8px !important;
  }
}
.form-item {
  position: relative;
  display: flex;
  font-size: 16px;
  line-height: 16px;
  padding-top: 20px;
  label {
    pointer-events: none;
    position: absolute;
    color: $gray;
    font-size: inherit;
    left: 10px;
    height: 36px;
    line-height: 36px;

    @include easeOut;
  }


  input {
    width: 100%;
    font-size: inherit;
    height: 36px;
    line-height: 36px;
    padding: 5px 8px 5px 8px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid $main-color;
    outline: 0;

    &:focus {
      border: 1px solid $gray;
    }
  }

  .button-style {
    line-height: 0;
  }
}