@import "var";
@import "config";
.info {
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include easeOut;
  .photo-view {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    @include easeOut;
  }
  .photo-view {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.photo-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $gray;

  .like-area,
  .comment-area,
  .edit-area,
  .delete-area {
    cursor: pointer;
  }
  .edit-area{
    &:hover{
      color: green;
    }
  }
  .delete-area{
    &:hover{
      color:red;
    }
  }
}

.the-photo {
  max-width: 90%;
  max-height: 90%;
}
.caption {
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(16, 16, 16, 0.75),
    rgba(16, 16, 16, 0.25) 80%,
    rgba(16, 16, 16, 0)
  );
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em 2em 1em 2em;
  h3,
  p {
    color: $main-color;
    z-index: 1;
    word-wrap: break-word;
    padding-bottom: 15px;
  }
}